@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57%; 
  margin: 0 auto;
}

.container { background-color: #f9f9f9; }
/*=================================
  Header styling starts here
=================================*/
.menu {
  position: relative;
}

header .wrapper { 
  padding-top: 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.pullme {
  position: absolute;
  top: -14px;
  right: 0;
  font-size: 9px;
  text-transform: uppercase;
  color: #000;
}

.pullme .fa { 
  color: #a0c63f; 
  font-size: 14px;
}

nav { margin-top: 20px; }

nav li { padding: 1% 0px 1% 28px; }

nav a{
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

p { color: #666; }

h3 span,
h5 span { color: #a0c63f; }

h4 { 
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

h5 {
  color: #7e7e7e;
  margin: 0px 0px 32px 2%;
  font-size: 20px;
  text-transform: uppercase;
}

h6 {
  padding-top: 2px;
  font-size: 12px;
  text-transform: uppercase;  
} 

h5:after {
  width: 62%;
  content: '';
  margin: -12px 0px 0px 38%;
  border-top: 2px dashed #f1f1f1;
  display: inherit;
}

/*banner styling starts here*/

.banner { 
  padding: 22px 0px;
  background-color: #a0c63f;
}

.banner .wrapper { position: relative; }

.banner li:not(:first-child) { display: none }

h2 {
  width: 40%;
  color: #fff;
  position: absolute;
  top: 53px;
  right: 0  ;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.previous,
.next {
  background-color: #a0c63f;
  color: #fff;
  font-size: 31px;
}
.previous { 
  position: absolute;
  top: 45%;
  left: -25%;
}

.next {
  position: absolute;
  top:45%;
  right: -25%;
}
/*banner styleing ends here*/

/*business theme section start*/

.business-theme { 
  padding-bottom: 12px;
  margin-top: 30px;
}

h3 { 
  padding-bottom: 30px;
  margin: 0px 0px 35px 2%;
  border-bottom: 2px dashed #f1f1f1;
  font-size:  25px;
  text-transform: uppercase; 
}

.services { 
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.services li { width: 22%; }

.services img {
  width: 60%;
  margin-bottom: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 20px solid #f1f1f1;
}

.services span { font-size: 12px; }


/*business theme section end*/

/*portfolio styling started*/

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio li { 
  width: 47%;
  margin: 0px 2% 25px 0px;
  border: 1px solid #f1f1f1;
  background: #fff;  
}

.portfolio figure{ 
  width: 48%;
  display: inline-block; 
  float: left; 
}

.portfolio-text {
  padding: 2px 2%;
  display: inline-block;
  width: 48%;
  float: right;
}

.portfolio-text a {
  padding: 2px 2%;
  border: 1px solid transparent;
  margin: 8px 0px;
  color: #fff;
  background-color: #8db53e;
  font-size: 10px;
}

.portfolio-text p { font-size: 10px; }

.portfolio-text p span,
footer p span { font-weight: bold; }
/*portfolio styling end*/


.advertisers-list { 
  display: flex;
}

.advertisers-list li { width: 17%; }

.major-advertisers + a { 
  width: 100%;
  padding-bottom: 8px;
  margin: 40px 0px 12px 0px;
  position: relative;
}

.uparrow {
  position: absolute;
  right: 0;
  background-color:#fff;
  color: #a0c63f;
  font-size: 24px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  padding-top: 33px;
  background-color: #fff;
}
.footerOne { display: flex; }

.footerOne div { width: 25%; }

.footerOne h6 { margin-bottom: 20px; }

footer p,
footer a{ 
  font-size: 10px;
}

.contact .fa{ 
  color: #ccc;
  font-size: 14px;
}

.contact a,
.Archives p{ 
  width: 100%;
  margin-bottom: 18px;
  color: #666;
}

.Archives p { 
  width: 80%;
  padding-bottom: 7px;
  border-bottom:2px dotted #ccc;
}

.about p {
  width: 85%;
  margin-bottom: 24px;
}

.about h6:last-of-type { margin-bottom: 13px; }

.social-network .fa {
  color: #ccc;
  font-size: 16px;
} 

input[type="text"],
input[type="email"] {
  padding: 4px 2%;
  margin-bottom: 10px;
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fafafa;  
}


input[type="submit"] {
  padding: 10px 3%;
  border:none;
  margin-top: 18px;
  float: right;
  background-color: #a0c63f;
  color: #fff;
  text-tranform: uppercase;
}

.footernav a{
  margin: 1%;
  color: #fff;
  font-size: 9px;  
  text-transform: uppercase;  
}

.footernav li:last-child {
  margin-top: 5px;
  display: inline-block;
  float: right;
  font-size: 9px;
  color: #fff;
}

footer .wrapper + div { 
  width:100%;
  padding: 8px 0px;
  background-color: #202020; 
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*remove hover for below 1024px*/
@media only screen and (min-width:1024px){

.pullme:hover,
.contact a:hover ,
nav a:hover,
.footernav a:hover { color: #a0c63f; }

.social-network .fa:hover{ color:#666; }

.portfolio-text a:hover {
  border: 1px solid #a0c63f;
  background-color: #fff;
  color: #a0c63f; 
}

}
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {

nav li {
  padding: 1% 0px 1% 22px;
}

}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px){

p { font-size: 12px; }

.wrapper { width: 70%; }

.services, .footerOne{ flex-wrap: wrap; }

.services li{ 
  width: 50%;
  margin-bottom:15px;
}

.portfolio li { width: 90%; }

.advertisers-list {
    display: flex;
    flex-wrap: wrap;
}

.advertisers-list li {
    width: 22%;
    margin: 0px 1% 5px 0px;
}

.next { right: -10%; }

.previous { left:-10%; }

.footerOne div {
    width: 50%;
    margin-bottom: 10px;
}

}

@media only screen and (max-width: 767px){

.wrapper { width :90%; }
     
.services li { width: 90%; }

.advertisers-list li { width: 30%; }

.footerOne div { width: 100%; }

.previous { left: -6%;}

.next { right:-6%; } 

.portfolio figure{ width: 100%; }

.portfolio-text {
  width: 100%;
  float: left;
}

.portfolio-text p{ width: 90%; }

}
